<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="loan" targetRuntime="MyBatis3">

        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>

        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/light"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaModelGenerator targetPackage="com.github.care.wx.mp.dao.entity" targetProject="MAVEN">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.github.care.wx.mp.dao.mapper"
                         targetProject="MAVEN">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.github.care.wx.mp.dao.mapper"
                             targetProject="MAVEN">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- configure detail table info -->


      <!--  <table schema="light" tableName="pay_info" domainObjectName="PayInfo">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->

        <!--<table schema="light" tableName="user" domainObjectName="User">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
       <!-- <table schema="light" tableName="foot_match" domainObjectName="FootMatch">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="light" tableName="foot_plan" domainObjectName="FootPlan">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <table schema="light" tableName="forum_info" domainObjectName="ForumInfo">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table schema="light" tableName="forum_message" domainObjectName="ForumMessage">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>

</generatorConfiguration>
